doctype html
head
  title
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  //if mso
    xml
      o:officedocumentsettings
        o:pixelsperinch 96
        o:allowpng
  // [if !mso] <!
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
  // <![endif]
  style.
    * {
    box-sizing: border-box;
    }
    body {
    margin: 0;
    padding: 0;
    }
    a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: inherit !important;
    }
    #MessageViewBody a {
    color: inherit;
    text-decoration: none;
    }
    p {
    line-height: inherit
    }
    .desktop_hide,
    .desktop_hide table {
    mso-hide: all;
    display: none;
    max-height: 0px;
    overflow: hidden;
    }
    @media (max-width:700px) {
    .desktop_hide table.icons-inner {
    display: inline-block !important;
    }
    .icons-inner {
    text-align: center;
    }
    .icons-inner td {
    margin: 0 auto;
    }
    .row-content {
    width: 100% !important;
    }
    .mobile_hide {
    display: none;
    }
    .stack .column {
    width: 100%;
    display: block;
    }
    .mobile_hide {
    min-height: 0;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    font-size: 0px;
    }
    .desktop_hide,
    .desktop_hide table {
    display: table !important;
    max-height: none !important;
    }
    .reverse {
    display: table;
    width: 100%;
    }
    .reverse .column.last {
    display: table-header-group !important;
    }
    .row-5 td.column.last>table {
    padding-left: 0;
    padding-right: 0;
    }
    .row-5 td.column.last .border {
    border-top: 0;
    border-right: 0px;
    border-bottom: 0;
    border-left: 0;
    }
    }
table.nl-container(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #f9f9f9;' width='100%')
  tbody
    tr
      td
        table.row.row-1(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #5d77a9; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        .spacer_block(style='height:10px;line-height:10px;font-size:1px;') &hairsp;
        table.row.row-2(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #5d77a9; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-left: 35px; padding-right: 35px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='25%')
                        table.image_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                          tr
                            td.pad(style='width:100%;padding-right:0px;padding-left:0px;padding-top:35px;padding-bottom:35px;')
                              .alignment(align='center' style='line-height:10px')
                                img(alt='TopTips Logo' src='cid:logo@toptips.page' style='display: block; height: auto; border: 0; width: 100px; max-width: 100%;' title='TopTips' width='100')
                      td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='75%')
                        table.heading_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                          tr
                            td.pad(style='width:100%;text-align:center;padding-top:5px;padding-bottom:5px;')
                              h1(style='margin: 0; color: #555555; font-size: 32px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; line-height: 200%; text-align: center; direction: ltr; font-weight: 700; letter-spacing: normal; margin-top: 0; margin-bottom: 0;')
                                span.tinyMce-placeholder(style='color: #ffffff;') TopTips - handball prediction
        table.row.row-3(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #5d77a9; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        .spacer_block(style='height:10px;line-height:10px;font-size:1px;') &hairsp;
        table.row.row-4(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #cbdbef; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.image_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                          tr
                            td.pad(style='width:100%;padding-right:0px;padding-left:0px;padding-top:80px;')
        table.row.row-5(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #cbdbef; color: #000000; width: 680px;' width='680')
                  tbody
                    tr.reverse
                      td.column.column-1.last(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        .border
                          table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                            tr
                              td.pad(style='padding-left:20px;padding-right:20px;padding-top:20px;')
                                div(style="font-family: Georgia, 'Times New Roman', serif")
                                  div(style="font-size: 14px; font-family: Georgia, Times, 'Times New Roman', serif; mso-line-height-alt: 16.8px; color: #2f2f2f; line-height: 1.2;")
                          table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                            tr
                              td.pad(style='padding-bottom:25px;padding-left:20px;padding-right:20px;')
                                div(style="font-family: Georgia, 'Times New Roman', serif")
                                  div(style="font-size: 14px; font-family: Georgia, Times, 'Times New Roman', serif; mso-line-height-alt: 16.8px; color: #2f2f2f; line-height: 1.2;")
                                    p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 16.8px;')
                                      span(style='font-size:42px;') You requested a password reset!
                          table.text_block.block-3(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                            tr
                              td.pad(style='padding-bottom:10px;padding-left:30px;padding-right:30px;padding-top:10px;')
                                div(style='font-family: sans-serif')
                                  div(style='font-size: 14px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 21px; color: #2f2f2f; line-height: 1.5;')
                                    p(style='margin: 0; font-size: 16px; text-align: center; mso-line-height-alt: 24px;')
                                      span(style='font-size:16px;')
                                        | Hi 
                                        u
                                          strong #{name}
                                        | ,
                                    p(style='margin: 0; font-size: 16px; text-align: center; mso-line-height-alt: 21px;') &nbsp;
                                    p(style='margin: 0; font-size: 16px; text-align: center; mso-line-height-alt: 24px;')
                                      | Your new password is:
                                      br
                                      b #{password}
                                    p(style='margin: 0; font-size: 16px; text-align: center; mso-line-height-alt: 21px;') &nbsp;
                                    p(style='margin: 0; font-size: 16px; text-align: center; mso-line-height-alt: 24px;')
                                      | Please change your password as soon as possible!
                            tr
                              td.pad(style='padding-bottom:10px;padding-left:30px;padding-right:30px;padding-top:10px;')
                                div(style='font-family: sans-serif')
                                  div(style='font-size: 14px; font-family: Arial, Helvetica Neue, Helvetica, sans-serif; mso-line-height-alt: 21px; color: #2f2f2f; line-height: 1.5;')
                                    p(style='margin: 0; font-size: 16px; text-align: center; mso-line-height-alt: 24px;')
                                      | If you did not request this password reset, please contact me at 
                                      a(href='mailto:admin@toptips.page') admin@toptips.page
                                      | !
        table.row.row-6(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #5d77a9; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.html_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                          tr
                            td.pad(style='padding-top:20px;')
                              div(align='center' style='font-family:Arial, Helvetica Neue, Helvetica, sans-serif;text-align:center;')
                                a(href='https://toptips.page' style='color:#FFF') Let&apos;s get tipping!
        table.row.row-7(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #5d77a9; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 0px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.text_block.block-1(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                          tr
                            td.pad
                              div(style='font-family: sans-serif')
                                div(style='font-size: 12px; mso-line-height-alt: 14.399999999999999px; color: #cfceca; line-height: 1.2; font-family: Arial, Helvetica Neue, Helvetica, sans-serif;')
                                  p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 16.8px;')
                                    span(style='font-size:12px;') &copy; 2022 - 2025 Tobias Kalmbach
        table.row.row-8(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #5d77a9; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 0px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        .spacer_block(style='height:20px;line-height:20px;font-size:1px;') &hairsp;
        table.row.row-9(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
          tbody
            tr
              td
                table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 680px;' width='680')
                  tbody
                    tr
                      td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: top; padding-top: 5px; padding-bottom: 5px; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                        table.icons_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                          tr
                            td.pad(style='vertical-align: middle; color: #9d9d9d; font-family: inherit; font-size: 15px; padding-bottom: 5px; padding-top: 5px; text-align: center;')
                              table(cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                tr
// End
